/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
  font-family: "Bree Serif", serif;
}

main {
  padding: 2rem;
}

#testoAlternato {
  border: 2px solid gray;
  color: #333333;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: normal;
}

span {
  position: relative;
  color: #6a889c;
}

i {
  min-width: max-content;
  display: inline-block;
  position: absolute;
  left: 5px;
}

i:nth-child(1) {
  animation: fadeIn 3s 3s both ease-out;
}
i:nth-child(2) {
  animation: fadeIn 3s 6s both ease-out;
}
i:nth-child(3) {
  animation: fadeIn 3s 9s both ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    translate: 0px 0px;
  }
  100% {
    translate: 0px 100%;
    opacity: 0;
  }
}
